@use "../../styles/variables" as *;

.footer {
  background-color: $dark-grey;
  color: $almost-white;
  margin-top: auto;
  padding: $spacing-xxl;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
}

.links {
  display: flex;
  gap: $spacing-xxl;
  list-style: none;

  a {
    color: $almost-white;
    font-size: $font-size-small;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: $light-green;
    }
  }
}

.copyright {
  color: $light-grey;
  font-size: $font-size-small;
}

.apiCredit {
  color: $light-grey;
  font-size: $font-size-small;

  a {
    color: $light-green;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .links {
    flex-direction: column;
    gap: $spacing-sm;
  }
}
